@import "_normalize.scss";
@import "_fonts.scss";
@import "_mixins";
@import "_header.scss";
@import "_navigation.scss";
@import "_catalog.scss";
@import "_order.scss";
@import "_count.scss";
@import "_product.scss";



html {
    box-sizing: border-box;
    $container: 300px;
    $padding-container: 10px;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Nunito;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #000;
}

img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
} h2{
    margin: 0;
}
   h3{
    margin: 0;
   }

     p{
        margin: 0;
     }

     figure{
        margin: 0;
     }

fieldset {
    margin: 0;
    padding: 0;
    bottom: 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: $container + $padding-container*2;
    padding: 0 $padding-container;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .header {
        background-size: 1400px;
        padding-bottom: 44px;

    }
    .header__container {
        max-width: 560px;
    }
    .header__title-container {
        padding-bottom: 0;
        padding-left: 180px;
        padding-top: 27px;
        text-align: left;
        background-position: left;
        background-size: contain;
        min-height: 190px;

    }
}

@media (min-width: 768px) {
    .header {
        background-size: 2540px;
    }
    .header__container {
        max-width: 562px + $padding-container*2;

    }
    .header__title-container {
        padding-left: 237px;
        min-height: 229px;

    }
    .header__title {
        font-size: 36px;
        margin-bottom: 26px;
    }
}

.currency {
    font-weight: 400;
}